@import url('https://fonts.googleapis.com/css?family=Nunito:300,300,700');

body{
    font-family: 'Nunito', sans-serif;
    background: #F5F5F5;
    margin: 0;
    padding: 0;
}

main {
    grid-area: main;
    background: url(Images/Group\ 1.png);
}

nav {
    grid-area: sidebar;
    background: linear-gradient(to right,
    #018786,
     #4A148C);
     justify-content: center;
     align-items: center;
}

footer{
    grid-area: footer;
    background: white;
    padding: 1em;
}

.container{
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "sidebar"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr 200px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
    padding: 1em 0;
}

nav li a{
    color: #fff;
    font-weight: 500;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.5s;
}

nav li a:hover{
    opacity: 1;
}

/*od tad zaczynaja sie projekty */


main .head img{
    position: relative;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

main .head h1{
    z-index: 10;
    color: white;
    position: absolute;
    margin: 50px 0 50px 50px;
    font-weight: 100;
    font-size: 60px;
}

main h3,p{
    text-align: center;
    width: 50%;
    margin: 10px auto;
}
main h3{
    font-weight: 500;
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
}

main h1 {
	font-size: 4rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	padding: 5px 0;
	color: #1a1a1a;
}

main .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}

main .project .project-item p{
    color: gray;
    font-size: 15px;
}

main .project .project-item img {
    height: 250px;
    width: 250px;
    transition: .3s ease-in-out;
    object-fit: cover;
}

main .project .project-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .project .project-item img:hover {
    border-radius: 50%;
}



footer ul{
    list-style: none;
    direction: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
footer ul i:hover{
    text-decoration: none;
    font-weight: 700;
    color: #4A148C;
    transform: scale(1.1);
}

footer ul li p,a {
    color:black;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
footer h4 {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

@media (min-width: 1040px){
    .container {
        display: grid;
        grid-template-areas:
        "sidebar main"
        "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr 170px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        background: linear-gradient( #018786,
        #4A148C);
        padding-top: 3em;
    }
    

    footer ul{
        max-width: auto;
        margin: 0 auto;
        padding: 0.2em 0;
    }
}

@media only screen and (max-width: 600px){
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    main h1{
        font-size: 20px;
        text-align: center;
    }
    
    nav li{
        list-style: none;
        padding: 1em 0;
    }
    
    nav li a{
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        opacity: 0.6;
        text-decoration: none;
        transition: 0.5s;
    }
}