@import url('https://fonts.googleapis.com/css?family=Nunito:300,300,700');

body{
    font-family: 'Nunito', sans-serif;
    background: #F5F5F5;
    margin: 0;
    padding: 
}

main {
    grid-area: main;
    background: url(Images/Group\ 1.png);
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(to right,
    #018786,
     #4A148C);
     justify-content: center;
     align-items: center;
}

.footer{
    grid-area: footer;
    background: white;
}

.container{
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "sidebar"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr 200px;
}

.sidebar,
.main,
.footer{
    padding: 1em;
}
.main{
    min-height: 600px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
    padding: 1em 0;
}

nav li a{
    color: #fff;
    font-weight: 500;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.5s;
}

nav li a:hover{
    opacity: 1;
}

.about h1{
    padding: 0.2em;
    color: #8B8B8B;
    align-content: center;
    text-align: center;
}

main h2,i{
    color: #018786;
}

.about ul{
    list-style: none;
    direction: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.about p{
    color: #8B8B8B;
    width: 10em;
    height: auto;
    padding: 20px;
    border: 1px solid #4A148C;
    border-radius: 30px;
    margin: 2em;
    font-weight: 100;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.about img{
    height: 200px;
    width: 350px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.about img:hover{
    border-radius: 50%;
    transform: scale(1.1);
}

footer ul{
    list-style: none;
    direction: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
footer ul i:hover{
    text-decoration: none;
    font-weight: 700;
    color: #4A148C;
    transform: scale(1.1);
}

footer ul li p,a {
    color:black;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
footer h4 {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

@media (min-width: 1040px){
    .container {
        display: grid;
        grid-template-areas:
        "sidebar main"
        "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr 150fr;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar {
        background: linear-gradient( #018786,
        #4A148C);
        padding-top: 3em;
    }
    
    .actual ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .actual h1{
        font-size: 35px;
    }

    footer ul{
        max-width: auto;
        margin: 0 auto;
        padding: 0.2em 0;
    }
}

@media only screen and (max-width: 1300px){

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about h1{
        font-size: 20px;
        text-align: center;
    }
    
    nav li{
        list-style: none;
        padding: 1em 0;
    }
    
    nav li a{
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        opacity: 0.6;
        text-decoration: none;
        transition: 0.5s;
    }
}