/*TREŚĆ */
i{
    color: #018786;
}

main .head img{
    position: relative;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

main .head h1{
    z-index: 10;
    color: black;
    position: absolute;
    margin: 50px 0 50px 50px;
    font-weight: 100;
    font-size: 60px;
}


main{
    display: flex;
    flex-direction: column;
}

main h1 {
	font-size: 4rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	padding: 5px 0;
	color: #1a1a1a;
}

main .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

main .project .project-item p{
    color: gray;
    font-size: 15px;
}

main .project .project-item img {
    height: 250px;
    width: 250px;
    transition: .3s ease-in-out;
    object-fit: cover;
}

main .project .project-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .project .project-item img:hover {
    border-radius: 50%;
}

main h3{
    font-weight: 100;
    text-align: center;
}

@media only screen and (max-width: 650px){
    main ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    main h1{
        font-size: 20px;
        text-align: center;
    }
}