/*TREŚĆ*/
main h2,i{
    color: var(--main-bg1-color);
}

main{
    max-width: 960px;
    margin: 20px auto;
    text-align: center;
}

main h1 {
    border-bottom: 1px solid #018786;
    padding-bottom: 8px;
    font-size: 2em;
    font-weight: 300;
    color: #1C1717;
}

main p {
    font-weight: 100;
    line-height: 2em;
    color: var(--main-text2-color);
}

main .action-btn{
    display: inline-block;
    text-decoration: none;
    color:  var(--main-text1-color);
    font-weight: 500;
    background:  var(--main-bg2-color);
    padding: 0.25em 1em;
    border-radius: 30px;
    margin: 1em 0;
    transition-duration: 0.8;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

main .action-btn:hover{
    transform: scale(1.1);
    transition-duration: 0.8s;
    background:  var(--main-bg1-color);
    color: var(--main-bg2-color);
}

main .action-btn:active{
    transform: scale(1.5);
    transition-duration: 0.1s;
}

/*RESPONSYWNOŚĆ*/
@media (min-width: 1040px){
    main h1 {
        margin: 0 50px 25px 50px;
    }
    
    main p{
        margin: 25px 100px 25px 100px;
    }

    @keyframes bounceIn {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        60% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        }
      }
      
    main img {
        animation: bounceIn;
        animation-duration: 2s;
    }
}
