@import url('https://fonts.googleapis.com/css?family=Nunito:300,300,700');

body{
    font-family: 'Nunito', sans-serif;
    background: #F5F5F5;
    margin: 0;
    padding: 0;
    
}

.main {
    grid-area: main;
    background: url(Images/Group\ 1.png);
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(to right,
    #018786,
     #4A148C);
     justify-content: center;
     align-items: center;
}

.footer{
    grid-area: footer;
    background: white;
}

.container{
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "sidebar"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr 200px;
}

.sidebar,
.footer,
.main
{
    padding: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
    padding: 1em 0;
}

nav li a{
    color: #fff;
    font-weight: 500;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.5s;
}

nav li a:hover{
    opacity: 1;
}

main h2,i{
    color: #018786;
}

.about{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.about img {
    width: 200px;
}

.about h1 {
    font-size: 2em;
    font-weight: 300;
    color: #1C1717;
}

.about p {
    font-weight: 100;
    line-height: 2em;
    color: #8B8B8B;
}

.action-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background: #4A148C;
    padding: 0.25em 1em;
    border-radius: 30px;
    margin: 1em 0;
    transition-duration: 0.8;
    transition-timing-function: ease-in-out;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.action-btn:hover{
    transform: scale(1.1);
    transition-duration: 0.8s;
    background: rgb(50, 237, 250);
    color:#4A148C;
}

.action-btn:active{
    transform: scale(1.5);
    transition-duration: 0.1s;
}

footer ul{
    list-style: none;
    direction: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
footer ul i:hover{
    text-decoration: none;
    font-weight: 700;
    color: #4A148C;
    transform: scale(1.1);
}

footer ul li p,a {
    color:black;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
footer h4 {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

@media (min-width: 1040px){
    .container {
        display: grid;
        grid-template-areas:
        "sidebar main"
        "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr 170px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar {
        background: linear-gradient( #018786,
        #4A148C);
        padding-top: 3em;
    }

    .main{
        display: flex;
        justify-content: center;
    }

    @keyframes bounceIn {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        60% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        }
      }

    .about img {
        width: 300px;
        animation: bounceIn;
        animation-duration: 2s;
    }
    footer ul{
        max-width: auto;
        margin: 0 auto;
        padding: 0.2em 0;
    }
}

@media (max-width: 650px){

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav li{
        list-style: none;
        padding: 1em 0;
    }
    
    nav li a{
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        opacity: 0.6;
        text-decoration: none;
        transition: 0.5s;
    }
}