/* TREŚĆ */
i{
    color: #018786;
}
main .left-pic{
    grid-area: lefpic;
}

main .right-info{
    grid-area: riginf;
}

main{
    font-size: 20px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-areas:
    "lefpic"
    "riginf";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.left-pic img{
    object-fit: cover;
    height: 200px;
    width: 100%;
}

main .right-info .item1{
    grid-area: one;
}
main .right-info .item2{
    grid-area: two;
}
main .right-info .item3{
    grid-area: three;
}
main .right-info .item4{
    grid-area: four;
}

main .right-info p{
    font-size: 16px;
    margin: 0 20px 10px 0;
}
main .right-info h1{
    font-size: 40px;
    margin: 30px 20px;
}

main{
    text-align: center;
}

main .right-info .fab{
    font-size: 35px;
    color: #018786;
}

main .right-info .description{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "one" 
    "two"
    "three"
    "four";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* RESPONSYWNOŚĆ */
@media (min-width: 1040px){
    main{
        font-size: 15px;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
        "lefpic riginf";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    main .right-info .description{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas: 
        "one two"
        "three four";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .left-pic img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}