body{
    font-family: 'Nunito', sans-serif;
    background: #F5F5F5;
    margin: 0;
    padding: 0;
}
/* KONTENTER */
main {
    grid-area: main;
    background: url(Images/Group\ 1.png);
}

nav {
    grid-area: sidebar;
    background: linear-gradient(to right,
    #018786,
     #4A148C);
     justify-content: center;
     align-items: center;
}

footer{
    grid-area: footer;
    background: white;
    padding-top: 1em;
}

.container{
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "sidebar"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr 200px;
}
/* NAWIGACJA */
nav ul {
    margin: 0 10px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
    padding: 1em 0;
}

nav li a{
    color: #fff;
    font-weight: 500;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.5s;
}

nav li a:hover{
    opacity: 1;
}
/* TREŚĆ */
main .left-pic{
    grid-area: lefpic;
}

main .right-info{
    grid-area: riginf;
}

main{
    font-size: 20px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-areas:
    "lefpic"
    "riginf";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.left-pic img{
    object-fit: cover;
    height: 200px;
    width: 100%;
}

main .right-info .item1{
    grid-area: one;
}
main .right-info .item2{
    grid-area: two;
}
main .right-info .item3{
    grid-area: three;
}
main .right-info .item4{
    grid-area: four;
}

main .right-info p{
    font-size: 15px;
    margin: 10px 20px;
}

main{
    text-align: center;
}

main .right-info .fab{
    font-size: 35px;
    color: #018786;
}

main .right-info .description{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "one" 
    "two"
    "three"
    "four";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* STOPKA */
footer ul{
    list-style: none;
    direction: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
footer ul i:hover{
    text-decoration: none;
    font-weight: 700;
    color: #4A148C;
    transform: scale(1.1);
}

footer ul li p,a {
    color:black;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
footer h4 {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
/* RESPONSYWNOŚĆ */
@media (min-width: 1040px){
    .container {
        display: grid;
        grid-template-areas:
        "sidebar main"
        "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr 150fr;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        background: linear-gradient( #018786,
        #4A148C);
        padding-top: 3em;
    }
    main{
        font-size: 15px;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
        "lefpic riginf";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    main .right-info .description{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas: 
        "one two"
        "three four";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .left-pic img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    footer ul{
        max-width: auto;
        margin: 0 auto;
        padding: 0.2em 0;
    }
}

@media only screen and (max-width: 600px){

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav li{
        list-style: none;
        padding: 1em 0;
    }
    
    nav li a{
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        opacity: 0.6;
        text-decoration: none;
        transition: 0.5s;
    }
    
}